
*{/* Cancelling deafults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{/* Set body color and font */
    color: #39a6b2;
    font-family:  Helvetica, Arial, sans-serif;
    }


header{ /* Set header background color and size */
    padding: 20px 35px;
    background-color: #39a6b2;
}


h1{ /* Run Buddy style */
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a{  /* navigators style */
    text-decoration: none;
    color: #fce138;
}

header nav{/* make navigators move to the top right */
    float: right;
    margin: 7px 0;
}


header nav ul li {/* set navigator in same line */
    display: inline;
}


header nav ul li a { /* set navigator spacing */
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


header h1{/* set title style and spacing */
    display: inline;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

footer{ /*set footer background color and size*/
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2{ /*set h2 color and style*/
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div{ /*set privacy policy and copyright positioning -- still too far to the right of screen*/
    float: right;
    line-height: 1.5;
    text-align: right;
}


section{
    padding: 60px;
    /* background-image: url(); */
}




